@model _09.Fiap.Web.MVC.Models.Jogo

@{
    ViewBag.Title = "Cadastrar";
}

<h2>Cadastro de Jogo</h2>

@Ajudante.Mensagem(TempData["msg"])

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(j => j.Nome)
        @Html.TextBoxFor(j => j.Nome, new { @class = "form-control"} )
    </div>
    <div class="form-group">
        @Html.LabelFor(j => j.DataLancamento)
        @Html.TextBoxFor(j => j.DataLancamento, new  { @class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(j => j.Plataforma)
        @Html.EnumDropDownListFor(j => j.Plataforma, new  { @class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(j => j.Genero)
        @Html.DropDownListFor(j => j.GeneroId, ViewBag.generos as SelectList, "Selecione", new { @class = "form-control"})
    </div>
    @Ajudante.Botao("Cadastrar")
}

