@model _09.Fiap.Web.MVC.Models.Jogo

@{
    ViewBag.Title = "Editar";
}

<h2>Edição de Jogos</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(j => j.JogoId)
    <div class="form-group">
        @Html.LabelFor(j => j.Nome)
        @Html.TextBoxFor(j => j.Nome, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(j => j.DataLancamento)
        @Html.TextBoxFor(j => j.DataLancamento, "{0:dd/MM/yyyy}", new { @class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(j => j.Plataforma)
        @Html.EnumDropDownListFor(j => j.Plataforma, "Selecione", new { @class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(j => j.Plataforma)
        @Html.DropDownListFor(j => j.GeneroId, ViewBag.generos as SelectList, "Selecione", new { @class = "form-control"})
    </div>
    @Ajudante.Botao("Editar")
    @Html.ActionLink("Cancelar", "Listar", "Jogo", new { @class = "btn btn-default" });

}

