@model List<_04.Fiap.Web.MVC.Models.Medico>
@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>

<table class="table">
    <tr>
        <th>CRM</th>
        <th>Nome</th>
        <th>Salário</th>
        <th>Ativo</th>
        <th>Descrição</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.Crm</th>
            <th>@item.Nome</th>
            <th>@item.Salario</th>
            <th>@item.Ativo</th>
            <th>@item.Descricao</th>
        </tr>
    }
</table>

